<% if @failure_message %>
  <%= @failure_message %>
<% end %>

<form action="/reviews" method="POST">

<h3>Enter the name of the product you would like to review:</h3>
<input type="text" size="70" name="Product Name">

<h3>Or select an existing product from the menu:</h3>
<select name="Product Name">
  <option selected disabled hidden style='display: none' value=''></option>
  <% @products.each do |product| %>
    <option value="<%= product.name %>"><%=product.name%></option>
  <% end %>
</select>

<h3>Enter your review here:</h3>
<textarea rows="7" cols="70" type="text" name="content"></textarea>

<input type="submit" value="submit">

</form>